@import "tailwindcss";

/* ignore */
@config "../tailwind.config.mjs";

/* Mesh Gradient Background Styles */

body {
  font-family: Poppins, sans-serif;
}

.mesh-bg {
  background-color: hsla(0, 0%, 100%, 1);
  background-image:
    radial-gradient(at 77% 87%, hsla(212, 54%, 53%, 1) 0px, transparent 50%),
    radial-gradient(at 16% 12%, hsla(220, 56%, 47%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 95%, hsla(202, 63%, 50%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(202, 63%, 50%, 1) 0px, transparent 50%);
}

.clouds {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1000px;
  background: url("/img/clouds.png") repeat-x;
  background-position: 0 0;
  animation: cloud-animation 30s linear infinite;
}

/* HTML: <div class="loader"></div> */
.loader {
  --r1: 154%;
  --r2: 68.5%;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #269af2 80%),
    radial-gradient(var(--r1) var(--r2) at bottom, #269af2 79.5%, #0000 80%),
    radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #269af2 80%), #ccc;
  background-size: 50.5% 220%;
  background-position:
    -100% 0%,
    0% 0%,
    100% 0%;
  background-repeat: no-repeat;
  animation: l9 2s infinite linear;
}
@keyframes l9 {
  33% {
    background-position:
      0% 33%,
      100% 33%,
      200% 33%;
  }
  66% {
    background-position:
      -100% 66%,
      0% 66%,
      100% 66%;
  }
  100% {
    background-position:
      0% 100%,
      100% 100%,
      200% 100%;
  }
}

@keyframes cloud-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2000px 0;
  }
  0% {
    background-position: 0 0;
  }
}

input:-webkit-autofill {
  -webkit-text-fill-color: #040444 !important;
}

/* WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 116, 139, 0.4); /* slate-500/40 */
  border-radius: 6px;
  transition: background-color 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 116, 139, 0.7); /* slate-500/70 */
}

::-webkit-scrollbar-track {
  background: transparent;
  margin: 4px 0;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* calendario */
